@use 'sass:color';

/*------------------------------------*\
  # COMPONENT - Skill
\*------------------------------------*/

.skill {
  display: flex;
  align-items: center;
  margin: spacing(2) 0;

  &__label {
    width: 150px;
    text-transform: uppercase;
  }

  &__quantity {
    flex: 1 1 0;
    height: spacing(4);
    background-color: color.scale($color-highlight, $lightness: 70%);

    > div {
      height: 100%;
      background-color: $color-highlight;

      @each $size in 80, 90, 100 {
        &.w-#{$size} {
          width: $size * 1%;
        }
      }
    }
  }
}
