/*------------------------------------*\
  # SETTINGS - Configuration variables
\*------------------------------------*/

$font-family: Helvetica, sans-serif;

$sm-min-width: 420px;
$md-min-width: 680px;
$lg-min-width: 9800px;
$xl-min-width: 1200px;

$max-width: 1200px;
