/*------------------------------------*\
  # SETTINGS - Colors
\*------------------------------------*/

$color-primary: #4f5d75;
$color-secondary: #bfc0c0;
$color-background: #fff;
$color-highlight: #ef8354;
$color-dark: #2d3142;
