/*------------------------------------*\
  # ELEMENTS - Layout
\*------------------------------------*/

h1 {
  font-size: fontSize(7);
}
h2 {
  font-size: fontSize(6);
}
h3 {
  font-size: fontSize(4);
}
h4,
h5 {
  font-size: fontSize(5);
}
