/*------------------------------------*\
  # ELEMENTS - Layout
\*------------------------------------*/

header {
  background-color: $color-primary;
}
footer {
  background-color: $color-dark;
}
main {
  background-color: $color-background;
}
